# Local files
.env
.env.local
.env.*.local

# Build artifacts
.next/
dist/
build/
bin/
obj/

# Dependencies
node_modules/
.pnp
.pnp.js
.venv/
__pycache__/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
